.statusbutton{
    border: none;
    background: none;
    font-size: 14px;
    text-align: bottom;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
}

.semaksijil{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contentsemaksijil{
    background-color: white;
    width: 50%;
    height: 50%;
    position: relative;
    border: 1px solid #3F51B5;
}

.sejarahcontent{
    display: grid;
    grid-template-columns: 100px auto;
    gap: 20px;
    background-color: #F1F1F1;
    padding: 15px 10px 15px 10px;
    font-size: 14px;
}

.semaksijilbox{
    text-align: left;
    display: block;
    padding: 10px;
    margin: 10px 20px 10px 20px;
}

.sejarahtime{
    margin-left: 20px;
}

.sejarahtitle{
    margin-left: 30px;
}

.closebutton{
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    background-color: #3F51B5;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 0.5rem;
}

.closebutton:hover{
    background-color: #37469d;
}

.closeicon{
    width:40%;
    margin:0;
}

.sejarahheader{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}