.menuheader{
    width: 100%;
    height: 3rem;
}

.menuheader ul li{
    list-style-type: none;
    padding: 10px 20px;
    border-right: 2px solid rgb(200, 200, 200);
}

.menuheader ul{
    display: flex;
    height: 3rem;
    align-items: center;
    margin-top: 20px;
}

a{
    text-decoration: none;
}

.last:hover{
    color: #FFC94E;
}

.last:active{
    color: #ffb200;
}

.menuheader ul li.noborder{
    border: none;
}