.app_box{
    margin-left: 3rem;
    margin-right: 3rem;
}

.aktivitioption{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    border: 0;
    text-decoration: underline;
}

.programkod{
    width: 10%;
}
.tarikh{
    text-align: center;
    padding: 0;
    width: 10%;
}

.programaktiviti{
    width: 18%;
}

.aktivititype{
    color: black;
    text-decoration: underline;
    margin-right: 1rem;
}

.addbutton{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    background-color: #3F51B5;
    border-radius: 100%;
    position: fixed;
    bottom: 6%;
    right: 4%;
    cursor: pointer;
}

.addbutton:hover{
    background-color: #37469d;
}

.addicon{
    width: 40%;
}

.padambutton{
    border: none;
    background: none;
    font-size: 14px;
    text-align: bottom;
    cursor: pointer;
    padding: 2.93px 0 0 0;
    text-decoration: underline;
}


.contentdeletesijil{
    background-color: white;
    width: 30%;
    height: max-content;
    position: relative;
    border: 1px solid #3F51B5;
}

.contentdelete{
    display: block;
    padding: 0 30px 0 30px;
    margin-top: 10px;
}

.padamconfirmbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.centerdata{
    text-align: center;
}