.mainPageContent{
    display: flex;
    width: 100%;
    height: auto;
    min-height: 90vh;
    background-image: url(https://www.dtims.intan.my/theme/images/homeslider/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.content-container{
    width: 45%;
    min-height: 90vh;
    background-color: rgba(38, 52, 130, 0.8);
    border: white solid 3px;
}

.description .title{
    font-size: 3rem;
    margin: 0 0 2rem 0;
    font-family: serif;
    padding: 0;
}

.lineBreak{
    border: rgb(148, 139, 248) dashed 2px;
    width: 60%;
    margin-bottom: 2rem;
}

.description{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.description p{
    width: 60%;
    text-align: justify;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
}

.LoginBtn{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 0.6rem 1.5rem;
    position: relative;
}

.login-Btn{
    background-color: #FFC94E;
    border: none;
    width: 9rem;
    height: 2.5rem;
    box-shadow: 3px 5px 8px #888888;
}

.LoginBtn:hover{
    padding-left: 0.6rem;
    transition: 0.3s;
}

.LoginBtn:hover::after{
    content: '\00bb';
    transition: 0.5s;
    position: absolute;
    left: 7rem;
}

.white{
    color:white;
}