.error-container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .errorh1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .errorp {
    font-size: 18px;
    margin-bottom: 30px;
    color: #666;
  }
  
  .errorimg {
    max-width: 200px;
    margin-bottom: 0px;
  }
  
  .button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }