.admintitle{
    display: flex;
    padding: 25px 0 25px 50px;
}

.maklumatadminbahru{
    background-color: #3F51B5;
    color: white;
    display: flex;
    padding: 20px 0 20px 50px;
}

.label{
    display:block;
}

.maklumat{
    display: grid;
    grid-template-columns: 200px auto;
    justify-items: left;
}

.maklumatadmin{
    display: grid;
    gap: 30px;
    padding: 100px 0 100px 50px;
}

.inputtext{
    border: none;
    background-color: #F4F4F4;
    margin: 0 1.8rem 0 1.8rem;
    width: 100%;
    padding: .1rem .5rem 0 .5rem;
}

.inputselect {
    border: none;
    background-color: #F4F4F4;
    margin: 0 1.8rem 0 1.8rem;
    width: 100%;
    padding: .1rem .5rem 0 .5rem;
}

.textarea{
    display: flex;
    width: 100%;
}

.kik{
    padding: 5px;
}

.submitBtn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.maklumatadmin button[type = "Submit"]{
    display: block;
    margin: 5rem auto 4rem;
    padding: 0.5rem;
    background-color: rgb(136, 142, 254);
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
    color: white;
    width: 9rem;
}