.titleDetail {
	font-size: 1.8rem;
	padding-left: 1rem;
	text-transform: uppercase;
	font-weight: normal;
}

.Detail {
	margin-top: 2rem;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

.Detailheader {
	align-items: center;
	display: flex;
}

.Detailbackicon {
	justify-content: center;
}

.blue {
	background-color: #3f51b5;
	color: white;
	height: 3rem;
	width: 95%;
	margin: auto;
}

.blue > p {
	padding-left: 1rem;
	padding-top: 0.7rem;
}

.info {
	display: flex;
	flex-direction: row;
}

.info2,
.info3 {
	margin-left: 4rem;
}

.info1 {
	margin-left: 4rem;
}

.sinopsis {
	margin-left: 4rem;
}

.titleDetail {
	margin-left: 2rem;
}

.daftarcenter {
	text-align: center;
	margin-top: 0.5rem;
}

.Daftarbutton {
	background-color: #ffc94e;
	border-radius: 5%;
	font-weight: bold;
	text-decoration: underline;
	padding: 0.5rem 1.8rem;
	font-size: 17px;
	border: none;
	color: white;
	margin-top: 2.5rem;
}

.Detail-modal {
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
}

.confirmation-message {
	text-align: center;
	background-color: white;
	width: 25rem;
	padding-top: 30px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	max-width: 600px;
}

.buttonrekod {
	display: flex;
	flex-direction: row;
	height: 3rem;
	justify-items: center;
}

.comfirmya {
	background-color: #bad26e;
	width: 50%;
	margin: 0;
	margin-right: 0;
	padding: 0;
	align-items: center;
	display: flex;
}

.comfirmno {
	background-color: #fe7065;
	width: 50%;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-items: center;
	display: flex;
}

.confirmation-message .option {
	margin: 0 auto;
	background-color: transparent;
	color: #fff;
	border: none;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
}

.confirmation-message .close {
	background-color: transparent;
	color: black;
	margin-top: 1rem;
	padding: 0;
}

.confirmation-message p {
	font-size: 20px;
	color: black;
	margin: 30px 10px;
	font-family: Lato;
}

.confirmation-message button:hover {
	background-color: transparent;
	color: black;
}

.close {
	position: absolute;
	top: 0rem;
	right: 2rem;
}
