.card {
	width: 100%;
	min-height: 80vh;
	height: auto;
	justify-content: center;
	background: white;
	display: flex;
}

.profileform {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 3rem;
}

.leftSide{
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	padding-top: 9rem; 
	gap: 2rem;
}

.rightSide {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	height: auto;
}

.frame {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: black solid 2px;
}

.headerProfileU{
	background-color: #3f51b5;
	height: 4rem;
	color: white;
	font-size: 18px;
}

.headerProfileU p{
	text-align: left;
	line-height: 4rem;
	width: 84%;
	margin: auto;
}

.formleft, .formright{
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
}

.textinput, .profileinput {
	display: flex;
	width: 100%;
	background-color: #f4f4f4;
	margin: 0.5rem 0 0 0;
	min-height: 2.2rem;
	align-items: center;
	border: none;
	padding-left:1rem;
}

.text {
	font-size: 18px;
	width: 85%;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

.rightSide label {
	display: block;
	font-size: 18px;
}

.savebutton, .editbutton {
	position: relative;
	color: white;
	letter-spacing: 1px;
	font-size: 18px;
	padding: 0.5rem 2rem;
	text-align: center;
	transition: 0.5s;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	background: #3f51b5;
}

.upload-file {
	width: 200px;
	position: relative; 
}

.img-wrap {
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.upload-icon {
	position: absolute;
	bottom: 0.2rem;
	right: -1.5rem;
	background-color: #3f51b5;
	padding: 1rem;
	border-radius: 100%;
	z-index: 25;
	cursor: pointer;
}

input[type="file"] {
	color: transparent;
}

.upload-file input[type="file"]::-webkit-file-upload-button {
	display: none;
}

.img-upload:hover:before {
	opacity: 1;
}

img.profile-pic{
	width: auto;
	height: 100%;
}

#emelperibadi{
	wordWrap: break-word;
}